{
  "BaseDownloadUrl": "http://www.example.com/",
  "LibrariesFolder": "/tmp/libraries/",
  "LibrariesIndex": "/tmp/libraries/library_index.json",
  "LibrariesDB": "/tmp/libraries_db.json",
  "GitClonesFolder": "/tmp/gitclones",
  "CronTabEntry": "0 0 0 * * *"
}